/* You can add global styles to this file, and also import other style files */
caption{
  text-align: center;
  caption-side: top;
}

.markRed {
  color: red;
}
.tableHeight{
  height:36rem;
  overflow-y: auto;
}
